* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #222;
  height: 150px;
  width: 100%;
}

/* Sessão menu */

header h1 {
  display: flex;
  text-align: center;
  font-size: 3rem;
  color: #ffff;
  font-family: "Pacifico", cursive;
  text-shadow: -2px 5px 5px rgb(0, 0, 0);
  cursor: pointer;
}

.header-menu {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem 0rem 0rem 15rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* .menu-nav {
  display: block;
  width: 40rem;
  border-radius: 2rem;
  padding: 0rem 2rem;
  text-align: center;
  margin-right: 12rem;
} */
.menu-ul {
  display: flex;
  list-style: none;
  margin-right: 10rem;
}
.menu-ul li {
  padding: 3rem 0rem 0rem 0rem;
  margin-left: 2.5rem;
}
.menu-ul li a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  width: 7rem;
}

.menu-ul li a:hover {
  background-color: white;
  color: #222;
  border-radius: 5px;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s;
}
.container {
  max-width: 1200px;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  contain: point;
}
.container .container-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 2fr));
  gap: 30px;
  width: 60%;
  transition: 0.3s;
}
.container .container-items .item {
  max-width: 200px;
  padding: 10px;
  margin: auto;
  border: 1px solid #666;
  padding: 20px;
  transition: 0.3s;
}
.container-items .item:hover {
  box-shadow: 0 0 10px #666;
  scale: 1.05;
}
.container-items .item .img-item {
  width: 100%;
}
.container-items .item .titulo-item {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.container-items .item .preco-item {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}
.container-items .item .button-item {
  display: block;
  margin: 10px auto;
  border: none;
  background: #222;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}
/* sessão carrinho */
.carrinho {
  border: 1px solid #666;
  width: 35%;
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: auto;
  position: static !important;
  top: 0;
  transition: 0.3s;
}
.carrinho .header-carrinho {
  background: #222;
  color: white;
  text-align: center;
  padding: 30px 0;
}
.carrinho .carrinho-item {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #666;
  padding: 20px;
}
.carrinho .carrinho-item img {
  margin-right: 20px;
}
.carrinho .carrinho-item .carrinho-item-titulo {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.carrinho .carrinho-item .seletor-guantidade {
  display: inline-block;
  margin-right: 25px;
  padding: 0 7px;
}
.carrinho .carrinho-item .carrinho-item-quantidade {
  border: none;
  font-size: 18px;
  background: transparent;
  display: inline-block;
  width: 30px;
  padding: 5px;
  text-align: center;
}
.carrinho .carrinho-item .seletor-guantidade {
  font-size: 18px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #222;
}
.carrinho .carrinho-item .carrinho-item-preco {
  font-weight: bold;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 5px;
}
.carrinho .carrinho-item .btn-eliminar {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #222;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #222;
  cursor: pointer;
  display: block;
  background: transparent;
  z-index: 20;
}
.carrinho .carrinho-item .btn-eliminar i {
  pointer-events: none;
}
.carrinho-total {
  background: #f3f3f3;
  padding: 30px;
}
.carrinho-total .fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
.carrinho-total .btn-pagar {
  display: flex;
  width: 100%;
  border: none;
  background: #222;
  color: #ffff;
  border-radius: 5px;
  font-size: 18px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}
.carrinho-total .btn-pagar:hover {
  scale: 1.05;
}
.clock {
  display: flex;
  flex-direction: column;
  color: #222;
  text-align: left;
  height: 20vh;
  align-items: ce;
  padding-top: 1rem;
  padding-left: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
h2 {
  text-align: center;
  padding-top: 1rem;
}
.clock input {
  display: block;
  width: 8rem;
}
.frm-group {
  display: flex;
  flex-direction: column;
}
footer {
  background-color: #222;
  width: 100%;
}
.footer_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem 2rem;
  margin-left: 7rem;
}
.socialMedia {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.instagram {
  text-decoration: none;
  justify-content: center;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background: linear-gradient(#bc2a8d, #cd486b, #fbad50);
}

.twitter {
  text-decoration: none;
  justify-content: center;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background: #18a1d6;
}
.whatsapp {
  text-decoration: none;
  justify-content: center;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background: #25d366;
}
.facebook {
  text-decoration: none;
  justify-content: center;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background: #4267b2;
}
.footerList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
}
.footerList h3 {
  color: #4267b2;
  font-size: 1.5rem;
}
.footerList li a {
  text-decoration: none;
  color: white;
}
.footerList li a:hover {
  color: #fcce00;
}
.socialMedia a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s;
}
.logo {
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  text-shadow: -2px 5px 5px rgb(0, 0, 0);
  color: #fffbfb;
}

/* responsivo */

@media screen and (max-width: 850px) {
  .container {
    display: block;
  }
  .container-items {
    width: 100% !important;
  }
  .carrinho {
    width: 100%;
  }
  .clock {
    width: 100%;
  }
  .menu-nav {
    width: 100%;
  }
  .clock {
    width: 100%;
  }
  footer {
    width: 100%;
  }
  .footer_content {
    display: block;
  }
  .menu-ul li a {
    width: 100%;
  }
  header {
    width: 100%;
  }
  header h1 {
    width: 100%;
    display: none;
  }
  .header-menu {
    width: 100%;
  }
}
